---
name: .NET CI

on:
  push:
    branches: [main]
    paths-ignore:
      - '**.md'
      - 'src/Den.Client/**'
      - 'tests/Den.Client.UnitTests/**'

  pull_request:
    paths-ignore:
      - '**.md'
      - 'src/Den.Client/**'
      - 'tests/Den.Client.UnitTests/**'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-dotnet@v5
      - run: dotnet build den.slnx
      - run: dotnet test den.slnx
